.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.hpImageTitle {
    height: 300px;
    width: auto;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-18px);
    }
}

.textContainer {
    background: rgba(0, 0, 0, 0.267);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    max-width: 80%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    background-color: #1c3135;
    color: white;
    width: 100%;
    mask: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
    padding-top: 150px;
    gap: 50px;
}

.trioDescription {
    max-width: 500px;
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}